body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: violet;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: rgba(100, 18, 176, 0.42);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(142, 30, 88, 0.1);
    width: 400px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

input, button {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}